* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "liberation-serif", serif;
}

.swiper {
  --swiper-navigation-size: 20px;
  --swiper-navigation-color: #ffff;
  --swiper-pagination-color: #ffff;
  --swiper-pagination-bullet-inactive-color: #fff;
}
