* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "liberation-serif", serif;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

.swiper {
  --swiper-navigation-size: 15px;
  --swiper-navigation-color: #ffff;
  --swiper-pagination-color: #ffff;
  --swiper-pagination-bullet-inactive-color: #fff;
}
